@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: var(--charcoal-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.subscribe-modal {
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 32px;
}

.subscribe-modal-form {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h1 {
  font-weight: 700;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-weight: 700;
  font-size: 0.8rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 16px;
  border: 1px solid var(--grey);
  border-radius: 8px;
}

button {
  border: none;
  padding: 16px;
  color: var(--white);
  background-color: var(--dark-slate-grey);
  border-radius: 8px;
  font-weight: 700;
}

.hide {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
